#clockContainer{
    
    height: 40vw;
    width: 40vw;
    margin: auto;
    background: url(clock.jpg) no-repeat;
    background-size: contain;
    position: relative;
    z-index: -2;
}
#hour,#minute,#second{
    background-color: black;
    border-radius: 10px;
    position: absolute;
    transform-origin: bottom;
}
#hour{
    width: 10px;
    height: 15%;
    top: 41%;
    left: 42%;
    
}
#minute{
    width: 7px;
    height: 20%;
    top: 35.9%;
    left: 42.4%;
    
}
#second{
    width: 4px;
    height: 24%;
    top: 31.75%;
    left: 42.6%;
    
}